@CHARSET "ISO-8859-1";

/* GERAL */
.ui-panel {
	/*border: black 5px solid;
	padding: 0;*/
	
}

.ui-panel-titlebar {
	border: black 1px solid;
	border-radius: 0;
}

/* LAYOUT TOPO */
/* Header 1*/
.labelHeader {
	/*color: #051057 !important;*/
	color: rgb(219, 112, 147) !important;
	text-shadow: black 0.07em 0 0;
	font-weight: bold;
}

.panelHeader2 {
	background-color: black;
	border-color: #F11582 !important;
}

.barraPesquisaFlutuante,.fixar {
	background: rgba(255, 245, 238, 0.9)!important;
}

.panelHeader {
	background: rgb(255, 245, 238);
}

.panelHeaderClientePedido {
	background: rgb(255, 212, 169);
	border: none;
}

.panelHeaderCarrinho {
	color: white !important;
	/*border-color: #ec9e9e !important;*/
	border: 2px solid yellow;
	background: rgb(255, 255, 220) !important;
}

.headerBackgroundCarrinho {
	background: yellow;
	border-color: rgb(255, 255, 220);
}

.panelHeaderCarrinho {
	background: rgba(255, 255, 255, 0.5);
	border-color: yellow;
}

.precoTotalPedidoResumoHeader {
	font-weight: bold;
	color: #F43D98;
}

/* CONTEUDO */

/* LAYOUT FOOTER */
/* Footer site */
.panelFooterSpace {
	background-color: black;
}

.linkSpace {
	color: white !important;
}
/* Footer Pagamento*/
.footerFormasPagamento {
	background: hsl(19, 100%, 95%);
	border-bottom: black 1px solid;
}

.footerFormasPagamentoTitulo {
	color: rgb(128, 0, 0);
}

.footerSeguranca {
	background: black !important;
	color: white !important;
}

.footerTituloSeguranca {
	color: white !important;
}
/* COMPARTILHADO */
html {
	background: white;
}

.colDivisoria {
	border-left-color: silver;
}

/* PEDIDO */
.panelDetalhesPedido {
	background: #f9f8f0;
}

/* PESQUISA PRODUTOS */
.dataGridProdutosGrade .ui-datagrid-column {
	border-color: rgb(220, 220, 220);
}

.miniBanner {
	border-color: #F11582;
	border-style: ridge !important;
}

.tituloPanelItem {
	color: hsl(240, 88%, 35%);
}

.precoDestaque {
	color: hsl(0, 82%, 45%) !important;
}

/* footer */
.divContainerGrids {
	border-bottom: 1px black solid;
}

.footerSeguranca {
	background: #fefdfb;
}

.tituloDescricaoPromocao {
	color: rgb(0, 66, 118);
}

.panelFooter {
	background: #F11582;
}

.panelFooter {
	color: white;
}

.panelContainer {
	background: white;
}

/* ITEM PEDIDO */
#formPromocoes:dtPromocao.ui-datatable.ui-datatable-header {
	background: hsl(0, 100%, 35%) !important;
}

.boxItemTitulo,.boxItemTab .ui-tabs-nav {
	background: #F11582 !important;
}

.boxItem {
	border-color: rgb(240, 240, 240) !important;
	background: rgb(250, 250, 250);
}

.multimidiaItemProduto {
	border-color: rgb(245, 245, 245);
}

.multimidiaItemProduto .ui-tabs-nav {
	border-color: rgb(245, 245, 245);
}

.multimidiaItemProduto .ui-tabs-panels {
	background: rgb(245, 245, 245);
}

.multimidiaItemProduto .ui-galleria-filmstrip-wrapper {
	border-top: rgb(245, 245, 245) 2px dashed;
}

.itemSemelhante:HOVER,.itemSemelhante:FOCUS,.linkItemSemelhante:HOVER {
	background: rgb(250, 235, 215) !important;
}

.panelItemSemelhantePrecoVenda {
	color: #345393;
}

.labelEstoque {
	background: rgb(240, 240, 240);
	color: black !important;
}

.corLabelPromocao {
	background: rgb(250, 240, 230);
}

.fieldsetTabPrecos,.fieldsetTabPrecos .ui-fieldset-legend {
	border-color: rgb(178, 34, 34);
}

.panelPrecoTotalItemPedido {
	background: rgb(250, 250, 250);
	border-color: pink;
}

.precoTotalItemPedido { /*color: rgb(255, 69, 0);*/
	color: #F43D98;
}

.panelItem {
	background: rgb(250, 250, 250);
}

.panelItem1 {
	background: none;
	border: none;
}

.fieldsetPromocao {
	margin-top: 30px;
	background: rgb(250, 250, 250);
}

/* CARRINHO */
.precoTotalCarrinho {
	color: hsl(204, 100%, 35%);
}

.tabelaItens .ui-datatable-footer {
	background: #FAF0E6 !important;
	border-color: #D8DCDF;
	color: black !important;
}

.textoPrecoTotalCarrinho {
	color: hsl(232, 89%, 18%) !important;
	text-shadow: -1px 1px 0px hsl(0, 0%, 75%) !important;
}

.panelPrecoTotal {
	background: rgb(250, 250, 250) !important;
	border-color: #D8DCDF;
}

.botaoFinalizarCompra {
	border: 1px solid #124d77;
	-moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1
		), color-stop(1, #0061a7));
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0);
	background-color: #007dc1;
}

.botaoFinalizarCompra:HOVER {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7
		), color-stop(1, #007dc1));
	background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7',
		endColorstr='#007dc1', GradientType=0);
	background-color: #0061a7;
}

/**/
.subcategoriaProdutos {
	border-bottom-color: rgb(197, 219, 236) !important;
}

.subcategoriaProdutosTexto {
	color: rgb(36, 100, 168) !important;
}

.subcategoriaProdutosSelecionada {
	color: rgb(245, 132, 29) !important;
	font-weight: bold;
}

.panelInternoLogin {
	border-color: rgb(0, 66, 118);
	background: rgb(254, 254, 254);
	color: rgb(0, 66, 118);
}

.panelLogin {
	background: black;
	border: none;
}

/* COR NEUTRA: TONS DE CINZA */
.panelDetalhes .ui-panel-titlebar-icon {
	background: rgb(240, 240, 240);
	/*background: rgb(169,169,169);*/
}

.popupTabPrecos {
	background: rgb(230, 230, 230);
}