@CHARSET "ISO-8859-1";

/* GERAL */
.ui-fieldset {
	border-color: rgb(50, 126, 4);
}

.ui-tabs {
	background: rgb(250, 250, 244);
}

.ui-accordion .ui-accordion-content {
	background: hsl(53, 43%, 96%);
}

/* HEADER */
.precoTotalPedidoResumoHeader {
	font-weight: bold;
	color: hsl(190, 96%, 29%);
}

.panelHeader2 {
	background-color: rgb(231, 226, 192);
	border-color: rgb(63, 121, 16) !important;

	/*hsl(52,45%,83%)*/
}

.panelHeader,.panelFooter,.panelHeaderBarraCores {
	background: rgb(86, 166, 22);
}

.barraPesquisaFlutuante,.fixar {
	background: rgba(86, 166, 22, 0.9)! important;
}

.panelHeaderClientePedido {
	background: #FAFAF4;
}

.panelHeaderCarrinho {
	background: rgb(254, 195, 83);
	border-color: rgb(255, 165, 0);
}

.headerBackgroundCarrinho {
	border-color: rgb(254, 195, 83);
	background: rgb(255, 185, 0);
}

/* PESQUISA PRODUTOS */
.tituloPanelItem {
	color: #005500;
}

.dataGridProdutosGrade .ui-datagrid-column {
	border-color: #DFD9C3;
}

.containerMaxiBanner {
	border-bottom: 1px dotted white !important;
	background: -moz-linear-gradient(top, #ffffff 67%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(67%, #ffffff),
		color-stop(100%, #f5f3e5)) !important;
	background: -webkit-linear-gradient(top, #ffffff 67%, #f5f3e5 100%)
		!important;
	background: -o-linear-gradient(top, #ffffff 67%, #e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 67%, #e5e5e5 100%);
	background: linear-gradient(to bottom, #ffffff 67%, #e5e5e5 100%);
	filter: progid:        DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0);
}

.miniBanner {
	border-color: rgb(63, 121, 16);
}

.subcategoriaProdutos {
	background: transparent;
	border-color: rgb(63, 121, 16) !important;
	border-width: 2px !important;
}

.subcategoriaProdutosTexto {
	
}

.subcategoriaProdutosSelecionada {
	font-weight: bold;
}

/* ITEM PEDIDO */
.panelPrecoTotalItemPedido {
	border-color: rgb(50, 126, 4);
	background: rgb(240, 255, 240);
}

.boxItemTitulo,.boxItemTab .ui-tabs-nav {
	background: #67B021;
}

.boxItem {
	border-color: #F5F3E5;
}

.multimidiaItemProduto {
	border-color: rgb(50, 126, 4);
	bbackground: rgb(240, 255, 240) !important;
}

.multimidiaItemProduto .ui-tabs-nav {
	background: transparent;
	border-color: #D4CCB0;
}

.itemSemelhante:HOVER,.itemSemelhante:FOCUS,.linkItemSemelhante:HOVER {
	background: rgb(245, 245, 220) !important;
}

.panelItemSemelhantePrecoVenda {
	color: #345393;
}

.labelEstoque,.corLabelPromocao {
	background: rgb(230, 245, 230);
}

/* CARRINHO */
.precoTotalCarrinho {
	color: #ff7a07;
}

.tabelaItens .ui-datatable-footer {
	background: #f2f7eb !important;
	color: black !important;
}

.textoPrecoTotalCarrinho {
	color: green;
}

.panelPrecoTotal {
	background: #F7F5E8 !important;
	border-color: #D4CCB0;
}

.botaoFinalizarCompra {
	border: 1px solid #d02718;
	-moz-box-shadow: inset 0px 1px 0px 0px #f2a39e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f2a39e;
	box-shadow: inset 0px 1px 0px 0px #f2a39e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537
		), color-stop(1, #c62d1f));
	background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537',
		endColorstr='#c62d1f', GradientType=0);
	background: #f24537;
}

.botaoFinalizarCompra:HOVER {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f
		), color-stop(1, #f24537));
	background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f',
		endColorstr='#f24537', GradientType=0);
	background-color: #c62d1f;
}

/* FOOTER */
.footerFormasPagamento {
	background: rgb(230, 245, 230);
}

.footerFormasPagamentoTitulo {
	color: rgb(50, 169, 103);
}

.footerSeguranca {
	background: #F4FDED;
}

.precoTotalItemPedido {
	color: rgb(255, 69, 0);
}

.linkSpace {
	color: rgb(164, 39, 0) !important;
}

/* MEUS PEDIDOS */
.panelDetalhesPedido {
	background: hsl(233, 43%, 96%);
}

/* COR DESTACADA */
.precoTotalItemPedido {
	color: rgb(255, 69, 0);
}

.headerFilial,.panelFooter {
	color: white;
}

/* TONS DE VERDE */
.colDivisoria {
	border-left-color: rgb(212, 204, 176);
}

.tituloDescricaoPromocao {
	color: rgb(74, 110, 158);
}

.panelItem {
	/*background: rgb(245, 245, 220);*/
	
}

.panelItem1 {
	background: none;
	border: none;
}

.fieldsetPromocao {
	margin-top: 30px;
	background: rgb(245, 255, 250);
}

.panelInternoLogin {
	border-color: rgb(212, 204, 176);
	background: white;
}

.panelCadastro {
	background: rgb(250, 250, 244) !important;
}

.panelLogin {
	/*	background: rgb(222, 237, 247);*/
	
}

.panelHeaderBackgroundInterno,.panelFooterInterno,.panelHeaderInterno,.panelHeaderBarraCores
	{
	border-color: rgb(53, 103, 14);
}

.panelHeaderBackground {
	background-color: rgb(218, 212, 150);
}

.panelFooterSpace {
	background-color: rgb(245, 243, 229);
}

/* COR NEUTRA: TONS DE CINZA */
.panelDetalhes .ui-panel-titlebar-icon {
	background: rgb(240, 240, 240);
	/*background: rgb(169,169,169);*/
}

.popupTabPrecos {
	background: rgb(240, 240, 240);
}