@CHARSET "ISO-8859-1";

/**
* Layout do panel item na tela pesquisa produtos (tela principal)
*
* Layout clean
*/

.dataGridProdutosGrade .ui-datagrid-column {
	border-top: none !important;
	border-style: dotted;
	border-width: 1px;
}

.dataGridProdutosLista .ui-datagrid-column {
	border-bottom: 1px dashed silver;
}

.panelCapaPanelItemLista{
	width:10% !important;
}

.containerPanelItemLista {
	/*width:85% !important;*/
	float:left;
	margin-top:10px;
	height: 90px;
}

.textoCodigoEmLista{
	color: gray;
}