.carrossel {
	left: auto !important;
	z-index: 1;
}

.paginadorCarrossel {
	z-index: 2;
	top: -20px;
	height: 20px;
	position: relative;
}

.paginadorCarrossel a {
	background: rgba(255, 255, 255, 0.5);
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	border-radius: 10px;
	display: inline-block;
}

.paginadorCarrossel a.selected {
	background: rgba(0, 0, 0, 0.5);
	border-color: rgb(0, 0, 0);
}

.paginadorCarrossel a span {
	display: none;
	overflow: hidden;
}