@CHARSET "ISO-8859-1";
/*
#j_idt13.ui-panel.ui-widget.ui-widget-content.ui-corner-all.header{
	margin:0px !important;
	padding:0px !important;
}*/
.ui-widget .ui-widget{
	font-size: 0.95em !important;
}

img {
	border: none;
}

head {
	width: 100%;
	height: 300px;
	padding: 10px;
}

/* PÁGINA */
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	font-size: 1em;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
}

.ui-widget,.ui-widget .ui-widget {
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	/*font-family: "Curlz MT";*/
	
}

.zoomOut {
	/*-moz-transform: scale(0.95) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);*/
	/*-webkit-transform: scale(1) rotate(0deg) translateX(-1.5in) translateY(0in) skewX(0deg) skewY(0deg);
	/*-o-transform: scale(0.95) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);*/
	/*-ms-transform: scale(0.9) rotate(0deg) translateX(-50px) translateY(-2%) skewX(0deg) skewY(0deg);
	transform: scale(0.85) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);*/
	
}

html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: auto !important;
	overflow-y: auto !important;
}

/* COMPONENTES */
input {
	color: black !important;
	/*margin-bottom: 10px !important;ronie*/
}

textarea {
	color: black !important;
	margin-bottom: 10px !important;
}

.ui-galleria-panel-wrapper {
	background: white;
}

/* Select / Checkbox */
.ui-selectonemenu .ui-selectonemenu-label {
	height: 100%;
	text-transform: capitalize;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
	text-transform: capitalize;
}

.ui-widget {
	font-size: 1em !important;
}

/*
.ui-selectonemenu, .ui-selectonemenu-panel{
	border-radius:0px !important;
	webkit-border-radius:0px !important;
}*/
/*select {
	color: black !important;
	border: solid 1px #B6D3ED;
	border-radius: 5px;
	background: rgb(246,249,255);
}

select[button]{
	border: solid 1px #B6D3ED !important;
	background: blue !important;
}*/
select[disabled] {
	color: gray !important;
}

.ui-selectonemenu-label {
	color: black !important;
}

.ui-selectonemenu-label[disabled] {
	color: gray !important;
}

input[disabled] {
	color: gray !important;
}

textarea[disabled] {
	color: gray !important;
}

/* PRIMEFACES */
.ui-breadcrumb {
	max-width: 100%;
}

.ui-datagrid,.ui-datagrid-content,.ui-datagrid-data {
	border: none;
	padding: 0;
	background: transparent;
}

.ui-datagrid-column {
	vertical-align: top;
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td {
	padding: 4px 5px !important;
}

.ui-datatable tbody td {
	white-space: normal ! important;
}

.ui-watermark {
	text-transform: lowercase !important;
}

.ui-outputlabel-rfi {
	color: red !important;
	float: left;
	padding-right: 5px;
}

.ui-state-error {
	background-color: transparent !important;
	background-image: none !important;
}

.ui-message-error {
	/*margin-top: -10px !important;*/
	margin-bottom: 5px !important;
	width: auto !important;
}

/* CONTAINER */
.divContainer {
	padding: 2px;
	margin-bottom: 10px;
	padding-top: 5px !important;
	width: 100%;
	display: block;
}

.displayNone {
	display: none !important;
}

.displayInlineBlock {
	display: inline-block !important;
}

.divContainerTitulo {
	display: block;
	font-weight: bold;
}

.divContainerInput {
	display: block;
	margin-left: 5px !important;
}

/* TEXTOS */
.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase !important;
}

.capitalize {
	text-transform: capitalize !important;
}

.lowercase {
	text-transform: lowercase;
}

.textoCinzaEscuro {
	color: gray;
}

.textoCinzaClaro {
	color: silver;
}

/* POSICIONAMENTO */
.block {
	display: block;
}

.alignleft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center !important;
}

.top {
	vertical-align: top;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}

.absolute {
	position: absolute;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.paddingLeft15px {
	padding-left: 15px;
}

.left {
	text-align: left;
}

/* OUTROS */
.ui-separator {
	width: 100% !important;
	height: 3px !important;
}

.textoRiscado {
	text-decoration: line-through !important;
}

.textDecorationNone {
	text-decoration: none;
}

.textDecorationNone:VISITED {
	text-decoration: none;
}

.hidden {
	visibility: hidden;
}

.panelTransparente {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	border-radius: 0 !important;
}

.quebraLinha {
	white-space: normal !important;
}

.semBorda {
	border: 0 !important;
	border-style: none !important;
}

.bordaArredondada {
	border-radius: 5px !important;
}